In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Distrowatch_popularity.csv")
df.head()

   Unnamed: 0      name  12_months  6_months  3_months  1_month
0           0       3CX         45        45        45       47
1           1   4MLinux        233       238       238      307
2           2       AIO         34        35        36       37
3           3       ALT         79        82        82       85
4           4  AUSTRUMI        111        86        62      105

In [3]:
new_df = df.drop(columns = ["Unnamed: 0", "6_months", "3_months", "1_month"])

In [4]:
final_df = new_df.rename(columns={"12_months": "12_Months"})

In [5]:
final_df

          name  12_Months
0          3CX         45
1      4MLinux        233
2          AIO         34
3          ALT         79
4     AUSTRUMI        111
..         ...        ...
282   openSUSE        799
283      paldo         25
284    pfSense         54
285  siduction         75
286   tuxtrans         21

[287 rows x 2 columns]

In [6]:
final_df.to_json("etl.json")