In [1]:
import pandas as pd
from sqlalchemy import create_engine

**Import CSV into DataFrame **

In [8]:
sfpd_file = "Resources/SFPD_Incdnts_2016_.csv"
sfpd_report_df = pd.read_csv(sfpd_file)
sfpd_report_df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000

**Transform SFPD Report DataFrame**

In [18]:
new_sfpd_report_df = sfpd_report_df[['IncidntNum','Category', 'Descript', 'DayOfWeek', 'Date', 'Time', 'PdDistrict','Resolution', 'Address', 'X', 'Y', 'Location', 'PdId']].copy()
new_sfpd_report_df= new_sfpd_report_df.rename(
    columns={"IncidntNum": "id", "Category": "category", "Descript": "descript", "Date": "date", "Time":"time", "X": "x", "Y":"y", "Location": "loc"})
new_sfpd_report_df= new_sfpd_report_df.drop(columns={'DayOfWeek', 'PdDistrict', 'Resolution', 'Address', 'PdId'})
new_sfpd_report_df.head()

,id,category,descript,date,time,x,y,loc
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,01/29/2016 12:00:00 AM,11:00,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",01/29/2016 12:00:00 AM,11:00,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
2,141059263,WARRANTS,WARRANT ARREST,04/25/2016 12:00:00 AM,14:59,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)"
3,160013662,NON-CRIMINAL,LOST PROPERTY,01/05/2016 12:00:00 AM,23:50,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)"
4,160002740,NON-CRIMINAL,LOST PROPERTY,01/01/2016 12:00:00 AM,00:30,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)"

In [35]:
sfpd_connection_string = "postgres:Winter@2020@localhost:5432/SanFran"
engine = create_engine(f'postgresql://{sfpd_connection_string}')

In [36]:
# Confirm tables
engine.table_names()

['crime_table']

In [37]:
new_sfpd_report_df.to_sql(name='crime_table', con=engine, if_exists='append', index=False)